In [1]:
import pyspark

In [4]:
pyspark.__version__

'3.3.2'

In [5]:
pyspark.__file__

'/home/peanut_butter/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/09/07 04:02:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
!wget https://raw.githubusercontent.com/DataTalksClub/data-engineering-zoomcamp/main/04-analytics-engineering/taxi_rides_ny/seeds/taxi_zone_lookup.csv

--2024-09-07 04:06:16--  https://raw.githubusercontent.com/DataTalksClub/data-engineering-zoomcamp/main/04-analytics-engineering/taxi_rides_ny/seeds/taxi_zone_lookup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12055 (12K) [text/plain]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  11.77K  --.-KB/s    in 0s

2024-09-07 04:06:16 (49.8 MB/s) - ‘taxi_zone_lookup.csv’ saved [12055/12055]

In [15]:
df = spark.read \
    .option("header", "true") \
    .csv("taxi_zone_lookup.csv")

In [16]:
df.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [17]:
df.write.parquet('zones')

In [18]:
!ls -lh

total 24K
-rw-rw-r-- 1 peanut_butter peanut_butter 6.0K Sep  7 04:08 spark.ipynb
-rw-rw-r-- 1 peanut_butter peanut_butter  12K Sep  7 04:06 taxi_zone_lookup.csv
drwxr-xr-x 2 peanut_butter peanut_butter 4.0K Sep  7 04:08 zones